node_modules
dist
*.tgz
.tmp
.clearance
tmp/
.DS_Store
partials
reference/slides/ITMeeting2.pdf
reference/slides/ITMeeting2.html
reference/slides/Development_process_v1.pdf
app/bower_components
app/images/tubeMap.png
app/images/tubemap.svg
app/pervasiveIdeas/
app/resources/
app/resourceTypes/
app/stations/
app/lines/
app/*/*.html
app/!404.html
app/*.html
app/styles/main.css
test/actual
test/unused
scripts/main.js
scripts/vendor
styles
