<%= _head %>
<%= _nav %>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar1" class="span5">
      <h1><%=meta.id%></h1>
      <h2><%= meta.title %></h2>
      <%= _linesMenu %>
    </div>
    <div id="content" class="span5">
      <%= content %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.

  /* kick MathJax to render the opened accordion element */
  $(".accordion-body").each(function(index, element) {
    $(element).on('shown', function() {
      console.log('showing'+index);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, element]);
    })
  });
});
</script>

<%= _foot %>