<%= _head %>
<%= _nav %>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar1" class="span5">
      <h1><%=meta.id%></h1>
      <h2><%= meta.title %></h2>
      <%= _linesMenu %>
    </div>
    <div id="content" class="span5">

      <!-- Dependencies dropdown -->
      <div class="btn-group">
        <a class="btn dropdown-toggle <%= (meta.dependencies && meta.dependencies.length > 0) ? '' : 'disabled' %>" data-toggle="dropdown" href="#">
          <span class="icon-arrow-up"></span>
          Dependencies
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
<% grunt.util._.each(meta.dependencies, function(depId) {%>
          <li>
            <a href="<%=root%>/stations/<%=depId%>.html">
              <%=depId%>
            </a>
          </li>
<% })%>
        </ul>
      </div>

      <!-- Dependents Dropdown -->
      <div class="btn-group">
        <a class="btn dropdown-toggle <%= (meta.dependents && meta.dependents.length > 0) ? '' : 'disabled' %>" data-toggle="dropdown" href="#">
          <span class="icon-arrow-down"></span>
          Dependents
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
<% grunt.util._.each(meta.dependents, function(depId) {%>
          <li>
            <a href="<%=root%>/stations/<%=depId%>.html">
              <%=depId%>
            </a>
          </li>
<% })%>
        </ul>
      </div>

      <!-- Markdown content contains Key Questions -->
      <%= content %>

      <!-- Resources that list station in stids1 -->
      <h3>Resources</h3>
      <ul>
<% grunt.util._.each(primaryResources(meta.id), function(resId) {%>
<%  var resType = sources.resources[resId].index.meta.resourceType; %>
<%  var resTypeTitle = sources.resourceTypes[resType].meta.title; %>
        <li>
          <a href="<%=resources%>/<%=resId%>/index.html">
            <%=resId%>: <%=resTypeTitle%>
          </a>
        </li>
<% }) %>
      </ul>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.

  /* kick MathJax to render the opened accordion element */
  $(".accordion-body").each(function(index, element) {
    $(element).on('shown', function() {
      console.log('showing'+index);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, element]);
    })
  });
});
</script>

<%= _foot %>
