<%= _head %>
<%= _nav %>
<% _ = grunt.util._ %>
<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar1" class="span4">

      <div class="accordion" id="stationMenu">

        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle" data-parent="#stationMenu">
              <h1><%=meta.id%></h1>
              <h2><%=meta.title%></h2>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#stationMenu" href="#">
              Pervasive Ideas
            </a>
          </div>
          <div class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
      <%    _.each(meta.pervasiveIdeas, function(pvid) { %>
                <li>
                  <a href="<%=root%>/pervasiveIdeas/<%=pvid%>.html">
                    <%=sources.pervasiveIdeas[pvid].meta.title%>
                  </a>
                </li>
      <%    }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#stationMenu" href="#">
              Highlights
            </a>
          </div>
          <div class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
<%  _.each(meta.highlights, function(resourceType, resId) { %>
<%  var resourceTypeMeta = sources.resourceTypes[resourceType].meta %>
                <li>
                  <a href="<%=resources%>/<%=resId%>/index.html">
                  <span class="<%=resourceTypeMeta.icon%>"></span>
                    <%=resourceTypeMeta.title%>
                  </a>
                </li>
<%  }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-parent="#stationMenu" href="#">
              Teacher Support
            </a>
          </div>
        </div>
      </div>

    </div>
    <div id="content" class="span8">

      <!-- Dependencies dropdown -->
      <div class="btn-group">
        <a class="btn dropdown-toggle <%= (meta.dependencies && meta.dependencies.length > 0) ? '' : 'disabled' %>" data-toggle="dropdown" href="#">
          <span class="icon-arrow-up"></span>
          Dependencies
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
<% _.each(meta.dependencies, function(depId) {%>
          <li>
            <a href="<%=root%>/stations/<%=depId%>.html">
              <%=depId%>
            </a>
          </li>
<% })%>
        </ul>
      </div>

      <!-- Dependents Dropdown -->
      <div class="btn-group">
        <a class="btn dropdown-toggle <%= (meta.dependents && meta.dependents.length > 0) ? '' : 'disabled' %>" data-toggle="dropdown" href="#">
          <span class="icon-arrow-down"></span>
          Dependents
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
<% _.each(meta.dependents, function(depId) {%>
          <li>
            <a href="<%=root%>/stations/<%=depId%>.html">
              <%=depId%>
            </a>
          </li>
<% })%>
        </ul>
      </div>

      <!-- Markdown content contains Key Questions -->
      <%= content %>

      <!-- Resources that list station in stids1 -->
<% if (meta.R1s || meta.R2s) {%>
      <h3>Resources</h3>
      <ul class="unstyled">
<% _.each(meta.R1s, function(resType, resId) {%>
<% var resourceTypeMeta = sources.resourceTypes[resType].meta; %>
        <li>
          <span class="<%=resourceTypeMeta.icon%>"></span>
          <a href="<%=resources%>/<%=resId%>/index.html">
            <%=resourceTypeMeta.title%>
          </a>
        </li>
<% }) %>
<% _.each(meta.R2s, function(resType, resId) {%>
<% var resourceTypeMeta = sources.resourceTypes[resType].meta; %>
        <li>
          <span class="<%=resourceTypeMeta.icon%>"></span>
          <a href="<%=resources%>/<%=resId%>/index.html">
            <%=resourceTypeMeta.title%>
          </a>
        </li>
<% }) %>
      </ul>
<% }%>

      <!-- TODO: (Menu) Pervasive ideas for this station -->

      <!-- TODO: (Menu) Highlights: our favourite resources -->

      <!-- TODO: (Menu) Teacher Support link -->

    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.

  /* kick MathJax to render the opened accordion element */
  $(".accordion-body").each(function(index, element) {
    $(element).on('shown', function() {
      console.log('showing'+index);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, element]);
    })
  });
});
</script>

<%= _foot %>
