@linecolora: #9467bd;
@linecolorc: #bcbd22;
@linecolorcn: #ff7f0e;
@linecolorde: #000000;
@linecolore: #1f77b4;
@linecolorf: #2ca02c;
@linecolorg: #d62728;
@linecolorm: #7f7f7f;
@linecolorna: #17becf;
@linecolorp: #8c564b;
@linecolorv: #e377c2;
@linecolorn: #ff9896;
