
<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->

<!-- build:js  <%=rootUrl%>/scripts/main.js -->
<script src="<%=rootUrl%>/scripts/main.js"></script>
<!-- endbuild -->




<!-- build:js <%=rootUrl%>/scripts/vendor/bootstrap.js -->
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-affix.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-alert.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-modal.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-transition.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-button.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-popover.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-typeahead.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-carousel.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-collapse.js"></script>
<script src="<%=rootUrl%>/bower_components/bootstrap/js/bootstrap-tab.js"></script>
<!-- endbuild -->

</div> <!-- close #wrap2 -->
</div> <!-- close #wrap1 -->

<div id="footer">
  <div class="container muted">
    <small>
      <p class="credit">
        Unless indicated otherwise, these unpublished materials are currently under development and are copyright © University of Cambridge, Cambridge Mathematics Education Project (CMEP).  All rights reserved.
      </p>
      <p>
        These materials may only be used for CMEP internal developmental and testing purposes under the authority and supervision of the CMEP.  Otherwise, the materials may not be copied in whole or in part in any media or used in any manner or form. Queries: email: cmep@maths.cam.ac.uk phone: 01223 337994.
      </p>
    </small>
    <ul class="inline">
      <li>
        <a class="btn btn-mini btn-inverse" href="<%=rootUrl%>/privacy.html">
          <span class="muted">CMEP Privacy Policy</span>
        </a>
      </li>
      <li>
        <a class="btn btn-mini btn-inverse" href="<%=rootUrl%>/cookies.html">
          <span class="muted">CMEP Cookie Policy</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
