<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Delius">
  <!-- Place favicon.ico and apple-touch-icon.png in the rootUrl directory -->
  <link rel="stylesheet" href="<%=rootUrl%>/styles/main.css">
  <!-- build:js <%=rootUrl%>/scripts/vendor/modernizr.js -->
  <script src="<%=rootUrl%>/bower_components/jquery/jquery.js"></script>
  <script src="<%=rootUrl%>/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { 
        equationNumbers: { autoNumber: "AMS" },
        Macros: {
          Var: "\\mathrm{Var}"
        }
      },
      tex2jax: {
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>

  <script type="text/javascript"
src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

</head>
<body>

