<div class="accordion" id="linesMenu">
<% _ = grunt.util._ %>
<% for(var line in sources.lines) { %>
<%   var m=sources.lines[line].meta; %>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#linesMenu" href="#<%=m.id%>">
        <%=m.id%>: <%=m.title%>
      </a>
    </div>
    <div id="<%=m.id%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>

<%    _.each(m.stids, function(id) { %>
          <li>
            <a href="<%=rootUrl%>/stations/<%=id%>.html">
              <%=id%>: <%=sources.stations[id].meta.title%>
            </a>
          </li>
<%    }) %>
        </ul>
      </div>
    </div>
  </div>
<% } %>
</div>
