<% grunt.log.write("  home layout "+meta.id+"... ") %>
<%= _head %>
<%= _nav %>

<div class="container">
  <div class="row">
    <div id="sidebar1" class="span4">
      <h1><%= meta.title %></h1>
      <%= _linesMenu %>
    </div>
    <div id="content" class="span8 home">
      <figure id="map">
          <%= svgContent %>
      </figure>  
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.

  /* kick MathJax to render the opened accordion element */
  $(".accordion-body").each(function(index, element) {
    $(element).on('shown', function() {
      console.log('showing'+index);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, element]);
    })
  });

  /* load fallback image if necessary */
  function supportsSVG() {
    // Grabbed from Modernizr
    return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect;
  }
  if (!supportsSVG()) {
    $("#map").html('<img src="<%= pngUrl %>">');
  }
  else {
    /* twitter bootstrap popovers */
    $("svg [id^='node']").each(function(){
      $(this).popover({
        title: $('div').append($(this).find("popover-title").children(":first")).html(),
        content: $('div').append($(this).find("popover-content").children(":first")).html(),
        container:"body",
        trigger: "click",
        placement: "top",
        html:true
      });
    });
  }

});
</script>

<%= _foot %>
<% grunt.log.ok("done"); %>

