<%= _head %>
<%= _nav %>
<% _ = grunt.util._ %>
<% grunt.log.write("  pervasiveIdea layout "+meta.id+"... ") %>

<div class="container-fluid">
  <div class="row-fluid">


    <div id="sidebar" class="span3">
      <%= _piMenu %>   
    </div>

    <div id="main" class="pervasive-idea main <%=meta.articles? 'span4' : 'span7'%>">
      <h1>
        <%= content.title %>
      </h1>
      <%= content.html %>
    </div>

<% if(meta.articles) { %>
    <div id="articles" class="pervasive-idea articles offset1 span3">
    </div>
<% } %>

  </div>
</div>

<% grunt.log.ok("done"); %>
<%= _foot %>