      <div class="tabbable">

<% if(content.length > 1) {%>
        <ul class="nav nav-pills">
<%   _.each(content, function(cdata, index) { %>
          <li <%=index==0?'class="active"':''%>>
            <a href="#tab<%=cdata.fileMeta.id%>_<%=index%>" data-toggle="tab">
              <%= index==0? 'Q!!Problem!!' : cdata.alias %>
            </a>
          </li>
<%   }); %>
        </ul>
<% } %>
      
        <div class="tab-content">
<%   _.each(content, function(cdata, index) { %>
          <div class="tab-pane <%=index==0?'active':''%>" id="tab<%=cdata.fileMeta.id%>_<%=index%>">

              <%= cdata.html%>

<% if(reference && reference.ref && reference.ack) { %>
              <div class="muted eq-ack">
                <%= reference.ref %>. <br /><%= reference.ack %>
              </div>
<% } %>

              <div class="eq-separator"></div>

          </div>
<%   }); %>
        </div>
      </div>
