<% if(parents.type === "st") { %>
<%   grunt.log.write("  resource layout "+meta.id+"... "); %>

<%= _head %>
<%= _nav %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="container span7 offset1">

      <h1>
        <span class="<%= resourceTypeMeta.icon %>"></span> <%= resourceTypeMeta.title %>
      </h1>

      <div class="tabbable">

<% if(content.length > 1) {%>
        <ul class="nav nav-pills">
<%   _.each(content, function(cdata, index) { %>
          <li <%=index==0?'class="active"':''%>>
            <a href="#tab<%=index%>" data-toggle="tab">
              <%= cdata.part %>
            </a>
          </li>
<%   }); %>
        </ul>
<% } %>
      
        <div class="tab-content">
<%   _.each(content, function(cdata, index) { %>
          <div class="tab-pane <%=index==0?'active':''%>" id="tab<%=index%>">
            <%= cdata.html%>
          </div>
<%   }); %>
        </div>
      </div>
    </div>

    <div id="sidebar1" class="offset1 span3">

<% if(parents.metas && parents.metas.length > 0) { %>
      <h3>Referenced by</h3>
      <div class="station lineG">
  <% _.each(parents.metas, function(parentMeta) { %>
        <a class="button<%=parentMeta.line%>" href="../../stations/<%= parentMeta.id %>.html"><%= parentMeta.id %></a>
      </div>
  <% }); %>
<% } %>



    </div>


  </div>
</div>

<%= _foot %>

<% grunt.log.ok("done"); %>
<% } %>
