<%= _head %>
<%= _nav %>
<% _ = grunt.util._; %>

<% grunt.log.write("  resourceTypesHome layout... ") %>

<div class="container">
  <div class="row">


    <div id="main" class="offset1 span10">
      <h1>Resource Types</h1>

      <%= content %>

      <ul class="unstyled">
<% _.each(resourceTypes, function(data, id) { 
  m = data.meta
%>
        <li>
          <span class="<%=m.icon%>"></span>
          <%= m.id %>
          <%= m.title %>
        </li>

<% }) %>
      </ul>

    </div>

  </div>
</div>

<% grunt.log.ok("done"); %>

<%= _foot %>
