<% if(parents.type === "st") { %>
<%   grunt.log.write("  resource layout "+meta.id+"... "); %>

<%= _head %>
<%= _nav %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="container span7 offset1">

      <h1>
        <span class="<%= resourceTypeMeta.icon %>"></span> <%= resourceTypeMeta.title %>
      </h1>

<%= content %>

    </div>

    <div id="sidebar1" class="offset1 span3">

<% if(parents.metas && parents.metas.length > 0) { %>
      <h3>Referenced by</h3>
      <div class="station lineG">
  <% _.each(parents.metas, function(parentMeta) { %>
        <a class="button<%=parentMeta.line%>" href="../../stations/<%= parentMeta.id %>.html"><%= parentMeta.id %></a>
      </div>
  <% }); %>
<% } %>

<% if(solution) { %>
      <h3><a href="solution.html" class="solution">Solution</a></h3>
<% } %>
    </div>


  </div>
</div>

<%= _foot %>

<% grunt.log.ok("done"); %>
<% } %>
