<%= _head %>
<%= _nav %>
<% _ = grunt.util._ %>
<% grunt.log.write("  station layout "+meta.id+"... ") %>
<div class="container-fluid">
  <div class="row-fluid">
    <div id="sidebar1" class="station span4">

      <div class="signage">

        <img src="../images/postmark.svg" class="postmark"/>

      </div>

      <!-- Dependencies -->
      <ul class="inline">
<% _.each(meta.dependencies, function(depId) {%>
        <li class="dependency" data-content="<%=sources.stations[depId].meta.title%>">
          <a class="button<%=sources.stations[depId].meta.line%>" href="<%=rootUrl%>/stations/<%=depId%>.html">
              <span><%=depId%></span>
          </a>
        </li>
<% })%>
        <!-- dummy to center postmark when there are no dependencies -->
        <li style="opacity:0"><a class="buttonA" href="#">A2</a></li>
      </ul>

      <h1 class="bar" style="background-color:<%=meta.colour%>"><%=meta.id%></h1>

      <!-- Dependents -->

      <ul class="inline text-right">
        <!-- dummy to center postmark when there are no dependents -->
        <li style="opacity:0"><a class="buttonA" href="#">A2</a></li>

<% _.each(meta.dependents, function(depId) {%>
        <li class="dependent" data-content="<%=sources.stations[depId].meta.title%>">
          <a class="button<%=sources.stations[depId].meta.line%>" href="<%=rootUrl%>/stations/<%=depId%>.html">
            <%=depId%>
          </a>
        </li>
<% })%>
      </ul>


      <h2><%=meta.title%></h2>

      <div class="accordion" id="stationMenu">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-parent="#stationMenu" href="#">
              Teacher Support
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="span8">

      <!-- Markdown content contains Key Questions -->
      <%= content %>

      <!-- Resources that list station in stids1 -->
<% if (meta.R1s) {%>
      <h3>Resources</h3>
      <ul class="unstyled">
<% _.each(meta.R1s, function(res) {%>
<% var resourceTypeMeta = sources.resourceTypes[res.rt].meta; %>
        <li>
          <span class="maybe icon-thumbs-up <%=res.highlight ? 'highlight' : ''%>"></span>
          <span class="<%=resourceTypeMeta.icon%>"></span>
          <a href="<%=resourcesUrl%>/<%=res.id%>/index.html" class="<%=res.highlight ? 'highlight' : ''%>">
            <%=resourceTypeMeta.title%>
          </a>

<% if(_.isString(res.title)) { %>
          - <%= res.title %>
<% } %>

        </li>
<% }) %>


      </ul>
<% }%>


      <!-- Pervasive Ideas -->
<% if(_.size(meta.pervasiveIdeas)>0) { %>
      <h3>Pervasive Ideas</h3>
      <ul>
<%   _.each(meta.pervasiveIdeas, function(__, pvid) { %>
        <li>
          <a href="<%=rootUrl%>/pervasiveIdeas/<%=pvid%>.html">
            <%=sources.pervasiveIdeas[pvid].meta.title%>
          </a>
        </li>
<%   }) %>
      </ul>
<% } %>

    </div>
  </div>
</div>

<% grunt.log.ok("done"); %>
<%= _foot %>
